<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="icon" href="https://www.flaticon.com/svg/static/icons/svg/2437/2437972.svg" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
</head>
<body style="display: inline; letter-spacing: 0.25px;">
    <h1>Review</h1>
    {%for i in rev%}
    <h3>{{i[0]}} - {{i[1]}}</h3>
    <br/>
    {%endfor%}
    <a href="/landing" class="a">Main</a>
    <a href="/form" class="a">Write a Review</a>
    <a href="/logout" class="a">Logout</a>
</body>
</html>